*{
  margin-left: 0px;
  box-sizing: border-box;
}

body{
  background-color: #f0f0f0;
  font-family: arial Bold, arial;
  font-size: 16px;
  font-weight: 600;
}

.navbar{
width: 100%;
height: 100px;
background-color: #fff;
z-index: 100;
}
.navbar img{
  float:left;
  position: relative;
  left: 30px;
}

.navbar a{
  padding-left: 2%;
  padding-right: 2%;
  line-height: 2.5;
  width: 24%;
  color: #423a36;
  font-weight: 400;
  font-size: 17px;
position: relative;
  top: 30px;
  left: 100px;
  text-decoration: none;
}
.navbar a:hover{
text-decoration: underline;
font-weight: bolder;
}

.navbar img{
  width: 80px;
  position: relative;
  top: 15px;
  left: 30px;
}

<<<<<<< Updated upstream
.social {
 position: absolute;
  top: 2100px;
   display: block;
  margin: 0 auto;
  width: 100%;

}
=======
>>>>>>> Stashed changes


p{
  top: 100px;
  text-decoration: none;
}


.top{
  width: 100%;
}

.annoncments{
  width: 50%;
}

.news{

  position: absolute;
  left: 43%;
  top: 1550px;
  font-family:
}
.slogan{
  text-align: center;
}
.hoveddel{
  padding-top: 100px;

}

.explore{
  font-style: italic;
  font-weight: thin;
}
.degrees{
  margin: 0 auto;
  width: 612px;
}
.degrees h2, h3{
  text-align: center;

}
.degrees h2{
  font-size: 25px;
}
.degrees h3{
  font-size:20px;
  font-weight: 200;
}
.degrees h4{
  font-size:22px;
}
.degrees h4{
  font-weight: 300;
}

.degreesblocks{
  text-align: center;
  width: 100%;
  float: right;
}
.b1,.b2,.b3,.b4,.b5,.b6{
  border-style: solid;
  background-color: #f2f2f2;
  display: inline-block;
  width: 300px;
  height: 300px;
  float: left;
}
.b1{border-width:2px 1px 1px 2px;}
.b2{border-width: 2px 2px 1px 1px;}
.b3{border-width: 1px 1px 1px 2px;}
.b4{border-width: 1px 2px 1px 1px;}
.b5{border-width: 1px 1px 2px 2px;}
.b6{border-width: 1px 2px 2px 1px;}
h4{
  text-align: left;
  padding-left: 10px;
}
.degrees li{
  margin: 0 auto;
  display: block;
  width: 300px;
  text-align: left;
}
.degrees a{
  text-decoration: none;
  color: darkred;
  line-height: 2;
}
.degrees a:hover{
  color: black;
}



h1{
  text-align: center;
  padding: 20px;
}

.dropbutton {
  background-color:black: transparent;
  color: currentColor;
  padding: 16px;
  font-size: 16px;
  border: none;
}

 .dropmenudegrees{
  display: block;
  margin: auto;
  width: 20%;
  text-decoration: none;
}




.dropmenulinks {
  display: none;
  width: 250px;
   position: absolute;
   font-weight: 400;
}
.dropmenulinks a:hover{
  color: yellow;
}

.dropmenulinks a{ color: white; text-decoration: none;}

.dropmenudegrees:hover .dropmenulinks {display: block;
  background-color: rgba(0,0,0,0.6);}
}

}
.New{
  font-size: 60px;
}

.news1{
  position: absolute;
  left: 22.9%;
  right: 24.22%;
  top: 1968.9px;
  z-index: 100;
  font-size: 28px;

background-color: rgba(255,255,255,.8);
color: black;
padding-left: 20px;
padding-right: 20px;
}

.newsimg{
height: 10%;
width: 30%;
position: absolute;
top: 1650px;
left: 23%;
z-index: 1;
}

newsimg img{
  width: 20%;
}
.morenews{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;

}

.social {
 position: absolute;
  top: 2100px;
   display: block;
  margin: 0 auto;
  width: 100%;
background-color: #66CCCC;
}

.social ul li{
  padding-left: 10px;
  padding-right: 10px;
list-style-type: none;
display: inline;


}
.social ul li a{
  text-align: center;
color: #423a36;
text-decoration: none;
width: 20%;
}
.social ul li a img{
width: 25px;
position: relative;
top: 5px;}

.fb :hover{
transform: scale(1.2);
}

#twt hover{

}

#ig hover{

}

#in hover{

}

#yt hover{

}

#twc hover{


}

#sc hover{

}

#dc hover{

}

#rd hover{

}

#fl hover{

}

#tt hover{

}
