*{
  margin-left: 0px;
}

body{
  background-color: #f0f0f0;
  font-family: arial Bold, arial;
  font-size: 16px;
  font-weight: 600;

}

.navbar{
  position: fixed;
  top: 0;
width: 100%;
background-color: #fff;

}
.navbar img{
  float:left;
}

.navbar a{
  padding-left: 2%;
  padding-right: 2%;
  line-height: 2.5;
  width: 24%;
  color: #423a36;
  font-weight: 400;
  font-size: 17px;

}
.hoveddel{
  padding-top: 30px;
}
h1{
  text-align: center;
}
